# TODO: Replace manual stuff with roxygen
exportPattern("^[[:alpha:]]+")
S3method(filter,EMODSimList)
S3method(filter,EMODSim)
S3method(as_tibble,EMODSimList)
S3method(as_tibble,EMODSim)
S3method(as.data.frame,EMODSim)
S3method(as.data.frame,EMODSimList)
S3method(c,EMODSimList)
S3method(fortify,EMODSim)
S3method(fortify,EMODSimList)
S3method(`[`,EMODSimList)
S3method(`[`,EMODSim)
S3method(`$`,EMODSim)
S3method(`$`,EMODSimList)
S3method(`[<-`,EMODSimList)
S3method(`[<-`,EMODSim)
S3method(`$<-`,EMODSim)
S3method(`$<-`,EMODSimList)
S3method(arrange,EMODSim)
S3method(arrange,EMODSimList)
S3method(distinct,EMODSim )
S3method(filter,EMODSim)
S3method(slice,EMODSim)
S3method(slice_head,EMODSim)
S3method(slice_tail,EMODSim)
S3method(slice_min,EMODSim)
S3method(slice_max,EMODSim)
S3method(slice_sample,EMODSim)
S3method(glimpse,EMODSim)
S3method(mutate,EMODSim)
S3method(pull,EMODSim)
S3method(relocate,EMODSim)
S3method(rename,EMODSim)
S3method(rename_with,EMODSim)
S3method(select,EMODSim)
S3method(count,EMODSim)
S3method(tally,EMODSim)
S3method(add_count,EMODSim)
S3method(add_tally,EMODSim)
S3method(group_by,EMODSim)
S3method(ungroup,EMODSim)
S3method(rowwise,EMODSim)
S3method(summarise,EMODSim)
S3method(reframe,EMODSim)
S3method(n,EMODSim)
S3method(cur_group,EMODSim)
S3method(cur_group_id,EMODSim)
S3method(cur_group_rows,EMODSim)
S3method(cur_column,EMODSim)
S3method(pick,EMODSim)
S3method(distinct,EMODSimList)
S3method(filter,EMODSimList)
S3method(slice,EMODSimList)
S3method(slice_head,EMODSimList)
S3method(slice_tail,EMODSimList)
S3method(slice_min,EMODSimList)
S3method(slice_max,EMODSimList)
S3method(slice_sample,EMODSimList)
S3method(glimpse,EMODSimList)
S3method(mutate,EMODSimList)
S3method(pull,EMODSimList)
S3method(relocate,EMODSimList)
S3method(rename,EMODSimList)
S3method(rename_with,EMODSimList)
S3method(select,EMODSimList)
S3method(count,EMODSimList)
S3method(tally,EMODSimList)
S3method(add_count,EMODSimList)
S3method(add_tally,EMODSimList)
S3method(group_by,EMODSimList)
S3method(ungroup,EMODSimList)
S3method(rowwise,EMODSimList)
S3method(summarise,EMODSimList)
S3method(reframe,EMODSimList)
S3method(n,EMODSimList)
S3method(cur_group,EMODSimList)
S3method(cur_group_id,EMODSimList)
S3method(cur_group_rows,EMODSimList)
S3method(cur_column,EMODSimList)
S3method(pick,EMODSimList)
import(openxlsx)
import(readxl)
import(dplyr)
import(ggplot2)
import(reshape2)
import(plotrix)
#import(data.table)
import(tidyr)
import(stringr)
import(purrr)
import(rsample)
import(survey)
import(haven)
import(slurmR)
import(rjson)

